@{
    ViewBag.Title = "Activities at the Farm";
    ViewBag.PgHdrPhoto = "photo-wide-activities.jpg";
    ViewBag.MetaDescription = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block green medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>What to do at the Farm</h2>
            <p>Take a look at some of the many activities we have waiting for you at the farm!</p>

            <div class="image-box content float-right border green" style="background-image: url(/Content/Images/photo-salsa.jpg);"><img src="/Content/Images/img.png" alt="School Trips to Mother Nature's Farm" /></div>

            <p>Mother Nature's Farm is family owned and operated. We have been farming at this location since 1968, we planted pine trees in 1980, and our pumpkin patch we started in 1991. We provide lots of grassy areas for birthday parties or any other occasions you can think of. We do school tours for thousands of children.</p>
            <p>Mother Nature's Farm has so many activities, it will be hard to experience everything in one day.</p>
            <p>In October we have a pumpkin patch where you can select from thousands of pumpkins, and then use your artistic skills to decorate it as you wish!</p>
            <p>Visit us in December to pick out the perfect Christmas tree, or play in the snow!</p>

            <div class="image-box content float-left border green caption" style="background-image: url(/Content/Images/photo-market-october.jpg);">
                <img src="/Content/Images/img.png" alt="October Market at Mother Nature's Farm"/>
                <div class="caption-text">October Market at Mother Nature's Farm</div>
            </div>
            

            @*<p>If you are not the creative type, don't worry. There is much more for you at the farm!</p>*@
            <p>Visit and feed the farmyard animals, play on the spider web crawl, take a hayride, or run through Alexander's Adventure Maze.</p>
            <p>When you get hungry, visit Maneau's Munchies or let us make you some cotton candy.</p>

            <br><br>

            <div class="image-gallery">
                <div class="image-box " style="background-image: url(/Content/Images/photo-alexandersmaze.jpg);"><img src="/Content/Images/img.png" alt="Alexander’s Adventure Maze" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-pumpkinpatch-1.jpg);"><img src="/Content/Images/img.png" alt="Halloween Pumpkin Patch" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-family-1.jpg);"><img src="/Content/Images/img.png" alt="Our Story - The Animals" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-snowday-1.jpg);"><img src="/Content/Images/img.png" alt="Snow Day" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-party-1.jpg);"><img src="/Content/Images/img.png" alt="School Trips at Mother Nature's Farm" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-party-2.jpg);"><img src="/Content/Images/img.png" alt="Field Trips at Mother Nature's Farm" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-piglets.jpg);"><img src="/Content/Images/img.png" alt="Private Parties at Mother Nature's Farm" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-spidercrawl.jpg);"><img src="/Content/Images/img.png" alt="Bounce House at Mother Nature's Farm" /></div>
                <div class="image-box " style="background-image: url(/Content/Images/photo-tractor.jpg);"><img src="/Content/Images/img.png" alt="Tractor at Mother Nature's Farm" /></div>
            </div>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>More Information about the Farm</h3>
            <ul class="sidebar-list">
                <li><a href="/animals">The Animals</a></li>
                <li><a href="/parties">Groups &amp; Parties</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/location">Directions</a></li>
                <li><a href="/coupons">Coupons</a></li>
                <li><a href="/pumpkinpatch">Pumpkin Patch</a></li>
                <li><a href="/christmas">Christmas</a></li>
            </ul>
        </div>
    </div>
</div>

