@{
    ViewBag.Title = "Our Farm Animals";
    ViewBag.PgHdrPhoto = "photo-wide-animals.jpg";
    ViewBag.MetaDescription = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")


<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h3>Enjoy pictures of some of the animals you may see at the farm.</h3>
            <p>The animals at Mother Nature's Farm love all of the attention they get from our visitors, but please note that when nightfall comes we do not provide lighting so that the animals can catch up on their sleep.</p>
        </div>
    </div>
    <div class="column">
        <div class="image-gallery" style="background:#000;color:#fff">Image Gallery (Animals)</div>
    </div>
</div>