@{
    ViewBag.Title = "Our Farm Animals";
    ViewBag.PgHdrPhoto = "photo-wide-animals.jpg";
    ViewBag.MetaDescription = "Pictures of the animals you may see at our farm located in Gilbert, Arizona. Come visit and feed the farmyard animals, take a hayride, or run through Alexander's Adventure Maze.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")


<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h3>Enjoy pictures of some of the animals you may see at the farm.</h3>
            <p>The animals at Mother Nature's Farm love all of the attention they get from our visitors, but please note that when nightfall comes we do not provide lighting so that the animals can catch up on their sleep.</p>
        </div>
    </div>
    <div class="column">
        <div class="image-gallery" style="background: #000; color: #fff">
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-1.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-2.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-3.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-4.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-5.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-6.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-7.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-8.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-9.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-10.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-11.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-12.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-13.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-14.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
            <div class="image-box " style="background-image: url(/Content/Images/photo-animals-15.jpg);"><img src="/Content/Images/img.png" alt="Our Farm Animals" /></div>
        </div>
    </div>
</div>