@{
    ViewBag.Title = "Contact Mother Nature's Farm";
    ViewBag.MetaDescription = "Contact Mother Nature's Farm for more information about the farm or to schedule a group trip, via phone, email or send us a message.";
    ViewBag.PgHdrPhoto = "photo-wide-1.jpg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h3>If you would like more information about the farm, please the following contact info.</h3>
            <p>
                Reach us via phone: Farm: <a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
                Fax: 480-507-0074<br>
                Or email us at: <a href="mailto:news@mothernaturesfarm.com?subject=Email from website">news@mothernaturesfarm.com</a><br>
            </p>
            <p>
                <a href="mailto:wade@mothernaturesfarm.com?subject=Email from website">Wade</a>&nbsp;|&nbsp;
                <a href="mailto:caroline@mothernaturesfarm.com?subject=Email from website">Caroline</a>
            </p>

        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            ?
        </div>
    </div>
</div>
