@{
    ViewBag.Title = "Coupons";
    ViewBag.PgHdrPhoto = "photo-wide-1.jpg";
    ViewBag.MetaDescription = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Farm Coupon</h2>
            <p>Please complete the following form to receive a discount on your next visit to the farm!</p>
            
            @Html.Partial("_SendNotificationError")

        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Coupons</h3>
            <p></p>
        </div>
    </div>
</div>
