@{
    ViewBag.Title = "Coupons";
    ViewBag.PgHdrPhoto = "photo-wide-1.jpg";
    ViewBag.MetaDescription = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>title</h2>
            <p>content</p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>title</h3>
            <p>content</p>
        </div>
    </div>
</div>