@{
    ViewBag.Title = "Frequently Asked Questions";
    ViewBag.PgHdrPhoto = "photo-wide-futureplans.jpg";
    ViewBag.MetaDescription = "We're very proud to share our future plans for Mother Nature's Farm.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block green medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner faq">
            <p><strong>Can I bring my dog?</strong>  Only service animals with credentials</p>
            <p><strong>Do you accept Credit Cards?</strong> Yes, but there is a $10 minimum purchase when using a credit card.</p>
            <p><strong>Do you have ATM's available?</strong> Yes</p>
            <p><strong>Do you need reservations?</strong> NO</p>
            <p><strong>What is the age limit to pay admission?</strong> We charge for 1 and up once your child can walk they can do all the activities </p>
            <p><strong>Where are you located?</strong> We are on Baseline between Stapley & Gilbert Rd</p>
            <p><strong>Do I have to pay admission if I am just coming to buy pumpkins or shop in the store?</strong> No</p>
            <p><strong>Where can I get discounted tickets?</strong> Check out <a href="Coupons.cshtml">coupons page</a></p>
            <p><strong>Do you have Pony Rides at the farm?</strong> No</p>
            <p><strong>Are the facilities handicap accessible?</strong> Yes</p>
            <p><strong>Do you have food during the week?</strong>Yes</p>
            <p><strong>What happens if it rains or there is bad weather?</strong>We are open rain or shine, please check out calendar for times</p>
            <p><strong>Do we have to pay to go into the farm if we don’t want to ride the hayride or do the activities?</strong> Yes</p>
            <p><strong>Do you sell corn stalks?</strong> Yes they are $12.00 per bundle and there are 12 stalks per bundle</p>
            <p><strong>Do you sell straw bales?</strong> Yes they are $12.00 per bale</p>
            <p><strong>Are photographers allowed to do photo shoots?</strong> Yes there is a $50.00 sitting fee</p>
            <p><strong>Can we bring food in?</strong> Yes</p>
            <p><strong>Is alcohol allowed?</strong> No</p>
            <p><strong>Do we have to pay for parking?</strong> No</p>
            <p><strong>Do you have a corn maze?</strong> No</p>
            <p><strong>Do you host Birthday parties?</strong> Yes</p>
            <p><strong>Do you host company parties?</strong> Yes </p>
            <p><strong>Do you offer group rates?</strong> Yes over 20 kids between the hours of 9:00 -3:00 Monday through Friday</p>
            <p><strong>Do you offer Military discounts?</strong> Yes with I.D.</p>
            <p><strong>Is there a limit to how long we can stay?</strong> No stay all day if you wish</p>
            <p><strong>Do you have restrooms?</strong> Yes</p>
            <p><strong>What do you do with the pumpkins after season?</strong> Some get donated to the food bank, and some get fed to our animals.</p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>More Information about the Farm</h3>
            <ul class="sidebar-list">
                <li><a href="/animals">The Animals</a></li>
                <li><a href="/parties">Groups &amp; Parties</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/location">Directions</a></li>
                <li><a href="/coupons">Coupons</a></li>
                <li><a href="/pumpkinpatch">Pumpkin Patch</a></li>
                <li><a href="/christmas">Christmas</a></li>
            </ul>
        </div>
    </div>
</div>