@{
    ViewBag.Title = "Future Plans";
    ViewBag.PgHdrPhoto = "photo-wide-futureplans.jpg";
    ViewBag.MetaDescription = "We're very proud to share our future plans for Mother Nature's Farm.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block box white-border">
    <div class="column">
        <div class="inner">
            <h3>We're very proud to share our future plans for Mother Nature's Farm.</h3>
            <p>Please <a href="/contactus">contact us</a> if you would like more information.</p><br><br>
            <p class="small text-center">Click on the image below for a larger version</p>
            <a href="/Content/Images/future.pdf" target="_blank"><img src="/Content/Images/futurefarmdesign.gif" style="width:100%;" border="0"></a>
        </div>
    </div>
</div>

