@{
    ViewBag.Title = "Home";
    ViewBag.MetaDescription = "Come visit our family owned and operated farm for our Halloween Pumpkin Patch, or Snow Day and Christmas Trees. We also have a market with seasonal gifts.";
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/scripts/newslettersignup");
}
<div class="row home-header">
    <div class="large-12 column">
        <div class="box white-border image-bg" style="background-image: url('/Content/Images/photo-wide-christmas.jpg');">
            <h1 class="header">
                <span class="pre">Come spend a day in the</span>
                Christmas Trees and Snow
                <span class="post">See Santa at the farm Dec. 9th from 9am to 12pm</span>
            </h1>
            <div class="cta-button-ctr">
                <a href="/christmas" class="button">Learn More</a>
                <a href="/Calendar" class="button">Calendar &amp; Specials</a>
                <a href="/location" class="button">Directions &amp; Hours</a>
            </div>      
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 column">
        <div class="featured-item">
            @*<div class="box white-border">
                <div class="box image-bg" style="background-image: url(/Content/Images/photo-snowday-2.jpg);">
                    <img src="/Content/Images/img.png" alt="Pumpkin Patch" />
                </div>
                <h3>Snow Day!</h3>
                <p>Mother Nature's Farm annual snow day is Saturday December 9th, 2017 from 9:00am to 6:00pm. Kids are $10 adults are $5</p>
                <a href="/christmas" class="button block">Play in the snow</a>
            </div>*@
            <div class="box white-border">
                <div class="box image-bg" style="background-image: url(/Content/Images/photo-pumpkinpatch-1.jpg);">
                    <img src="/Content/Images/img.png" alt="Pumpkin Patch" />
                </div>
                <h3>Halloween Pumpkin Patch</h3>
                <p>Visit our Pumpkin Patch, rated Arizona's best in the New Times. Opening day is October 1st. Come pick out that perfect pumpkin, and check out the fall activities.</p>
                <a href="/pumpkinpatch" class="button block">Visit The Patch</a>
            </div>
        </div>
    </div>
    <div class="medium-4 column">
        <div class="featured-item">
            <div class="box white-border">
                <div class="box image-bg" style="background-image: url(/Content/Images/photo-market-christmas.jpg);"><img src="/Content/Images/img.png" alt="Maneau's Market'" /></div>
                <h3>Maneau's Market</h3>
                <p>Shop at Maneau’s Market for great holiday decorations and accessories. We also have a great selection of Gold Canyon Candles, and specialty treats.</p>
                <a href="/activities" class="button block">Shop the Market</a>
            </div>
        </div>
    </div>
    <div class="medium-4 column">
        <div class="featured-item">
            <div class="box white-border">
                <div class="box image-bg" style="background-image: url(/Content/Images/photo-alexandersmaze.jpg);"><img src="/Content/Images/img.png" alt="Alexander's Adventure Maze'" /></div>
                <h3>Alexander's Adventure Maze</h3>
                <p>Take a run (or a walk!) through Alexander's Adventure Maze, our maze made of straw sure to entertain kids of all ages.</p>
                <a href="/activities" class="button block">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 column">
        @Html.Partial("_NewsletterSignup")
    </div>
</div>