@{
    ViewBag.Title = "Directions to Mother Nature's Farm";
    ViewBag.MetaDescription = "";
    ViewBag.PgHdrPhoto = "photo-wide-1.jpg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Where are we?</h2>
            <h3>Please use the map below to see where we are located and get directions.</h3>
            <p>
                Reach us via phone: Farm: <a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
                Fax: 480-507-0074<br>
                Or email us at: <a href="mailto:news@mothernaturesfarm.com?subject=Email from website">news@mothernaturesfarm.com</a><br>
                Or email us at: <a href="mailto:news@mothernaturesfarm.com?subject=Email from website">news@mothernaturesfarm.com</a><br>
            </p>
            <p>
                <a href="mailto:wade@mothernaturesfarm.com?subject=Email from website">Wade</a>&nbsp;|&nbsp;
                <a href="mailto:caroline@mothernaturesfarm.com?subject=Email from website">Caroline</a>
            </p>
            <h3>Farm Hours</h3>
            <p>Mother Nature's Farm is open September thru December, but the hours vary depending on the season.<br>Please check our <a href="contactus">calendar of events</a> for current farm hours.</p>

        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            ?
        </div>
    </div>
</div>