
@{
    ViewBag.Title = "Our Story";
    ViewBag.MetaDescription = "Out Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-header">
    <div class="large-12 column">
        <div class="box white-border image-bg" style="background-image: url(/Content/Images/photo-wide-story.jpg);">
            <h1 class="header">Our Story</h1>
        </div>
    </div>
</div>