@{
    ViewBag.Title = "Our Story";
    ViewBag.PgHdrPhoto = "photo-wide-story.jpg";
    ViewBag.MetaDescription = "Out Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Hello, <br>My name is Wade Kelsall.</h2>
            <h4>This is the story of Mother Nature's Farm.</h4>
            <bR>
            <h3>1968</h3>
            <p>My parents, Sam and Edie Kelsall, purchased this property in 1968. This farm was to replace the one the city was engulfing at Dobson and Elliot. To the East was Smitty's grocery and to the west was Chilcott's Dairy. Being next to the dairy the farm grew mainly alfalfa. Soon the dairy moved.</p>

            <h3>1980</h3>
            <p>By 1980, Sam had decided to grow something to sell to the city folks. They were moving closer every day. But what?  He settled on Christmas trees. After finding the right tree (eldarica pines) to grow we started planting in 1980. After two years of failure we were off and running. Three years to market a Christmas tree is a very short time for trees. Our first tree sales were 1985. Our customers loved that they could pick and cut their tree. Most, having just purchased a new home near the farm, more city, were in need of landscaping. Well, we became the only “choose and dig” lot in the country. The farm has close to 3000 trees planted and plant as many as we sell every year.</p>

            <h3>1988</h3>
            <p>In 1988, I had decided that to keep the farm family... well, farming the farm must change. I needed to expand our offerings. We started planting fruit trees. </p>

            <h3>1991</h3>
            <p>In 1991, I met my wife Caroline. She refused to ever move to the “end of the world.” She was, however, very helpful in the creation of Mother Nature's Farm. October 1991, we set out a ten by ten tent in the front yard by the canal with some pumpkins. We found someone that grew pumpkins and had a semi load sent to the farm. The next year I was looking for more for our customers to do. I started giving hay rides. When I would take a hayride out I left a sign that read “took hayride leave money in the box.” This worked well until the city moved even closer and one night when I returned from the hayride the box was gone.</p>

            <h3>1997</h3>
            <p>We moved the Pumpkin patch across the driveway to its current location. Caroline opened the “store” this year. Our "store" was under an old rickety shade attached to an old trailer home. Soon the trailer was gone and the shade needed improvement. This shade structure started in 1998 is now the barn. The city, however, will not allow us to use it without further improvements.</p>

            <p>I now grow almost 40 acres of pumpkins in Duncan, AZ. Along with gourds, squash, and other fall ornamentals. The patch itself is one acre north of the barn. The “store” is also north of the barn under the tents.</p>

            <h3>November 1995</h3>
            <p>I moved my family to the farm. We placed a manufactured home south-west of the barn. I wanted to raise my family with the values of hard work, living with the land and my farm country values. I know I live in the city now. So my kids, and yours, get the best of both worlds. </p>

            <h3>Today</h3>
            <p>Thank you for all of your continued support!</p>
            <p>Wade Caroline BrookeW. Alexander Maneau</p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <div class="box image-bg" style="background-image: url(/Content/Images/photo-wade-1.jpg);"><img src="/Content/Images/img.png" alt="Wade" /></div>
            <div class="box image-bg" style="background-image: url(/Content/Images/photo-family-1.jpg);"><img src="/Content/Images/img.png" alt="Our Story" /></div>
            <div class="box image-bg" style="background-image: url(/Content/Images/photo-family-2.jpg);"><img src="/Content/Images/img.png" alt="Our Story" /></div>
            <div class="box image-bg" style="background-image: url(/Content/Images/photo-family-3.jpg);"><img src="/Content/Images/img.png" alt="Our Story" /></div>
        </div>
    </div>
</div>