@{
    ViewBag.Title = "Party Reservations";
    ViewBag.PgHdrPhoto = "photo-wide-animal-1.jpg";
    ViewBag.MetaDescription = "Bring your class for a fun farm experience. Trips include a pumpkin, the straw bounce, a hayride, air bounce, feeding the farm animals and Alexander's Adventure Maze.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/scripts/pgpartyres");
}
@Html.Partial("_PageHeader")

<div class="row content-block green medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Reservation Form</h2>
            <h4>Your reservation request is on it's way!</h4>
            <p style="height: 300px;">
                Thank you for your interest in having your party at Mother Nature's Farm! We will contact you soon with information on how we can best accommodate you.
                <br/><br/>
                Once you have your guest list complete, please email it to <a href="caroline@mothernaturesfarm.com">caroline@mothernaturesfarm.com</a>
            </p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Please Note</h3>
            <p>10 child minimum</p>            
            <p>Accept Cash and all major credit cards.  Debit cards NOT accepted.</p>

            <br>
            <h3>Questions</h3>
            <p>
                Call<br>
                <a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
                OR<br>
                <a href="/contactus" class="button expanded">Send A Message</a>
            </p>
        </div>
    </div>
</div>