
@{
    ViewBag.Title = "School Tours & Birthday Parties";
    ViewBag.PgHdrPhoto = "photo-wide-parties.jpg";
    ViewBag.MetaDescription = "Bring your class or have a party for a fun farm experience. Trips include a pumpkin, the straw bounce, a hayride, air bounce, feeding the farm animals and Alexander's Adventure Maze.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block blue medium-collapse box white-border">
    <div class="large-4 medium-6 column sidebar sidebar-left">
        <div class="inner">
            <h3>School Tours</h3>
            <p>
                October 1st - 31st, 2018<br>
                Monday - Friday<br>
                9am to 3pm
            </p>

            <p>                
                <a href="/tourreservation" class="button expanded">Reserve Online</a>
            </p>

            <p>
                <strong>20 children or more</strong><br>
                $8.00 per child<br>
                $3.00 per adult
            </p>

            <p>
                <strong>25 children or more</strong><br>
                includes a tour guide
            </p>

            <p>Accept Cash and all major credit cards.  Debit cards NOT accepted.</p>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Dear Teachers,</h2>
            <p>It's that time of year, fall is here! It's time for the fun filled field trips to Mother Nature's Farm. We have added some new things and have changed some, of course they are all for the best, come see for yourself.</p>

            <div class="image-box content float-left border blue" style="background-image: url(/Content/Images/photo-party-1.jpg);"><img src="/Content/Images/img.png" alt="School Trips at Mother Nature's Farm" /></div>

            <p>Bring your class, or your whole school for a fun farm experience. Trips include an OZ pumpkin, the straw bounce, a hayride, the spider web crawl, the air bounce, feeding the farm animals and Alexander's Adventure Maze. Our shady picnic area is available for you to bring your sack lunch or you can visit Maneau's Munchies. Enjoy the great outdoors and let your children run off that extra energy before you go back to class.</p>

            <p>School tours start October 1st, 2018 and end October 31st, 2018, Monday through Friday from 9am to 3pm. Please schedule online or call soon, reservations fill up fast.</p>

            <p>If you book a group of 20 children or more the cost is $8.00 per child and $3.00 per adult, does not include a tour guide. If you book a tour of 25 children or more it will include a tour guide. You also have the option to go with 1 pumpkin per child and NO stickers for $6.00. Please remind your parents that siblings need to be added in class numbers or they will be charged full price at the gate.</p>

            <div class="image-box content float-right border blue small" style="background-image: url(/Content/Images/photo-party-2.jpg);"><img src="/Content/Images/img.png" alt="Field Trips at Mother Nature's Farm" /></div>

            <p>We accept cash and all major credit cards. We do not accept P.O. numbers or debit cards.<!-- For more information please call 480-892-5874.--></p>

            <p>
                Thank you!<br />
                Your Farm Friends - The Kelsall Family
            </p>
        </div>
    </div>
</div>
<!-- Birthdays -->
<div class="row content-block green medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Host your next party or event at the farm!</h2>
            <p>Birthday parties at the farm include hayrides, the spider web crawl, air bounce, animals and the Alexander Adventure Maze. If your party is scheduled during the Halloween season (October 1st to October 31st 2018), kids will get a pumpkin they can decorate and take home. You are welcome to bring food, cake, and party activities. Tables will be reserved for 2 hours but guests may stay at the farm as long as they wish. The cost of a Birthday party is $10.00 per child.</p>

            <div class="image-box content float-right border green" style="background-image: url(/Content/Images/photo-party-3.jpg);"><img src="/Content/Images/img.png" alt="Private Parties at Mother Nature's Farm" /></div>

            <p>Private Birthday Party areas may be reserved for an extra $100.00 and the Fire Pit Area may be reserved for an extra $25.00. The private area includes 4 picnic tables and 2 hours (private) access to the bounce house.</p>

            <p>Adult admission is $5.00 and includes entrance into the farm and the hayride.</p>

            <p>Please Note: Pumpkins are not included with the adult admission. Also, a guest list with all the kids listed on one side and the adults on the other side must be presented on the day of your party.</p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Birthday Parties</h3>
            <p>
                7 Days a Week<br>
                9am to 9pm
            </p>
            <p><strong>Note: On October 31st, <br>we close at 6pm.</strong></p>

            <p>
                <a href="/partyreservation" class="button expanded">Reserve Online</a>
            </p>

            <p>
                $10.00 per child<br>
                $5.00 per adult
            </p>

            <p>
                <strong>Private Area</strong><br>
                additional $100
            </p>

            <p>
                <strong>Fire Pit Area</strong><br>
                additional $25
            </p>

            <p>Accept Cash and all major credit cards.  Debit cards NOT accepted.</p>
        </div>
    </div>
</div>

