@{
    ViewBag.Title = "Pumpkin Patch";
    ViewBag.PgHdrPhoto = "photo-wide-pumpkinpatch.jpg";
    ViewBag.MetaDescription = "Come visit The Pumpkin Patch at Mother Nature’s Farm, rated Arizona’s best in the New Times.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageHeader")

<div class="row content-block orange medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Pick out that perfect pumpkin, and check out the fall activities</h2>
            <h3>Dear Friends & Neighbors,</h3>

            <p>
                Load up the family, bring your friends and neighbors. Come visit The Pumpkin Patch at Mother Nature’s Farm,
                rated Arizona’s best in the New Times. Our opening day is September 28th through October 31st.
            </p>
            <div class="image-box content float-right border orange" style="background-image: url(/Content/Images/photo-pumpkinpatch-3.jpg);"><img src="/Content/Images/img.png" alt="The Pumpkin Patch at Mother Nature's Farm" /></div>
            <p>
                Our Pumpkin Patch is stocked with fresh pumpkins daily, ranging from 1 ounce to 500 pounds! 
                Shop at Maneau’s Market for great fall decorations and the best pumpkin accessories. We also 
                have a great selection of Gold Canyon Candles, and specialty "treats".
            </p>
            <p>
                The farm entrance fee is $10.00 per child, this includes an OZ pumpkin, the air bounce, a hayride, 
                spider web crawl, feeding the animals and Alexander’s Adventure Maze. Adults are $5.00 to tag along 
                and ride the hayride. Bring a picnic lunch and your friends. We have picnic tables, grassy fields, 
                big shade trees and PLENTY of room for the kids to be kids! Food is available at Maneau’s Munchies; 
                hot dogs, popcorn, cotton candy, snow cones, drinks and much more.
            </p>
            <p>
                Mother Nature’s Farm is a family owned and operated farm. We started as just a pumpkin patch and 
                over the years with your support we have become a Children’s Discovery Farm. With each year, we hope 
                to learn from the past and improve in the future. We have many new things & changes this year at the 
                farm, we hope you come check them out. Thank you to all of our past customers, we hope to see you again 
                this season. And for anyone who has not been to Mother Nature’s Farm we hope you make us part of your 
                family tradition.
            </p>
            <h4>Looking forward to seeing you,<br>Your Farm Friends</h4>
            
            <div class="row family-photos">
                <div class="column medium-3 small-6">
                    <img src="/Content/Images/family-wade_caroline.jpg" alt="Wade & Caroline Kelsall" />
                    Wade & Caroline
                </div>
                <div class="column medium-3 small-6">
                    <img src="/Content/Images/family-brooke.jpg" alt="Brooke" />
                    Brooke
                </div>
                <div class="column medium-3 small-6">
                    <img src="/Content/Images/family-alexander.jpg" alt="Alexander" />
                    Alexander
                </div>
                <div class="column medium-3 small-6">
                    <img src="/Content/Images/family-maneau.jpg" alt="Maneau" />
                    Maneau
                </div>
            </div>

            <br><br>
            <div class="image-box content float-left border orange" style="background-image: url(/Content/Images/photo-pumpkinpatch-2018winner.jpg); height: 384px;">
                <img src="/Content/Images/img.png" alt="Heaviest Arizona grown pumpkins"/>
            </div>

            <h4>Congrats to Art Hargrave Jr.</h4>
            <p>
                Congratulations for having the heaviest Arizona grown pumpkins in 2018 weighing a combined total of 592lbs!
                <br> 1st Place: 224lbs. 2nd Place: 196lbs. 3rd Place: 172lbs.
            </p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Pumpkin Patch</h3>
            <p>
                October 1st - 30th<br/>
                Monday - Sunday<br/>
                9am to 9pm<br/><br/>
                October 31st<br />
                9am to 9pm<br />
            </p>
            <p>
                Kids $10.00 Adults $5.00
            </p>

            <p>
                Call<br>
                <a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
                OR<br>
                <a href="/partyreservation" class="button expanded">Reserve Online</a>
            </p>

            <p>Accept Cash and all major credit cards.</p>
        </div>
    </div>

</div>