$brand-tan: #E5B57A;
$brand-blue: #5098CB;
$brand-green: #00BB98;
$brand-brown: #4E3B23;

$brand-orange: #F67721;

$white: #fff;
$gray-lightest: #f5f4f2;
$gray-light: #d4d4d2;
$gray: #8d9095;
$black: #000;

$body-background: $brand-tan;
$page-background: $white;

$main-color: $black;

$font-family: 'Open Sans',  Arial, Helvetica, 'Lucida Grande', sans-serif;
$accent-font: 'Carter One', 'Arial-Black', Arial, Helvetica, 'Lucida Grande', sans-serif;

$font-color: $black;
$link: $main-color;
$link-hover: $brand-tan;

$success: #35A150;
$error: #d92424;
$warning: #ffae00;

$field-height: 40px;

$box-margin: 20px;

$box-border-color: $white;
$box-border-size: 20px;
$box-border-size-small: 10px;

$breakpoint-medium: 40em;
$breakpoint-large: 64em;

@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transition-delay($transitions) {
    -webkit-transition-delay: $transitions;
    -moz-transition-delay: $transitions;
    -o-transition-delay: $transitions;
    transition-delay: $transitions;
}
@mixin transform($variables) {
  -webkit-transform: $variables;
  -moz-transform:    $variables;
  -ms-transform:     $variables;
  -o-transform:      $variables;
  transform:         $variables;
}
@mixin gradient($start,$start-opacity,$stop,$stop-opacity) {
	background: $start;
	background: -moz-linear-gradient(top,  rgba($start,$start-opacity) 0%, rgba($stop,$stop-opacity) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($start,$start-opacity)), color-stop(100%,rgba($stop,$stop-opacity))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}