.home-header {
	margin-bottom: 20px;
	.box {
		border-top: 0;
	}
	h1 {
		color: $white;
		text-shadow: -2px 1px 0 $black;
		text-align: center;
		padding-top: 280px;
		span {
			display: block;
			font-weight: bold;
			line-height: 14px;
			font-size: 16px;
			font-family: $font-family;
			text-shadow: -1px 1px 0 $black;
		}
	}
	.cta-button-ctr {
		text-align: center;
		margin: 30px 0;
	}
	
}