<div class="newsletter-signup">
    <div class="box white-border blue-bg">
        <div class="row">
            <div class="large-5 column copy">
                <h3>Join the Farm Fam!</h3>
                <p>Sign up to receive coupons, news about the farm and other special events.</p>
            </div>
            <div class="large-7 column form-ctr">
                <form>
                    <div class="input-group">
                        <input class="input-group-field" id="fieldEmail" name="cm-xdhljl-xdhljl" placeholder="Enter Your Email..." type="email" required />
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>