<div class="row page-header">
    <div class="large-12 column">
        <div class="box white-border image-bg" style="background-image: url('/Content/Images/@ViewBag.PgHdrPhoto');">
            <h1 class="header">@ViewBag.Title</h1>
        </div>
    </div>
</div>