<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings configSource="AppSettings.local.config"/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp configSource="Smtp.config"/>
    </mailSettings>
  </system.net>
  <connectionStrings configSource="ConnectionStrings.Local.config"/>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <rewrite>
      <rules>
        <rule name="301 Redirects" stopProcessing="true">
          <match url="((ourstory)|(pumpkinpatch)|(tourreservation)|(partyreservation)|(parties)|(animals)|(contactus)|(coupons)|(calendar)|(location)|(futureplans)).aspx"/>
          <action type="Redirect" url="http://www.mothernaturesfarm.com/{R:1}" appendQueryString="false"/>
        </rule>
        <rule name="301 Christmas url" stopProcessing="true">
          <match url="xmas.aspx"/>
          <action type="Redirect" url="http://www.mothernaturesfarm.com/christmas"/>
        </rule>
        <rule name="301 School Tours URL" stopProcessing="true">
          <match url="schooltours.aspx"/>
          <action type="Redirect" url="http://www.mothernaturesfarm.com/parties"/>
        </rule>
        <rule name="301 Special Events URL" stopProcessing="true">
          <match url="specialevents.aspx"/>
          <action type="Redirect" url="http://www.mothernaturesfarm.com/calendar"/>
        </rule>
        <rule name="301 Farm Hours URL" stopProcessing="true">
          <match url="farmhours.aspx"/>
          <action type="Redirect" url="http://www.mothernaturesfarm.com/location"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>